<?xml version="1.0" encoding="utf-8"?>
<Media Key="2668c417-4de9-4908-811c-33575f6cf487" Alias="01.svg" Level="2">
  <Info>
    <Parent Key="06895829-f77e-4224-96de-edefdb56d310">Brand</Parent>
    <Path>/Brand/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T18:22:34</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2v2nvrhs/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>