<?xml version="1.0" encoding="utf-8"?>
<Media Key="747bb439-d210-4d3d-959d-e3caac5c7a19" Alias="05.svg" Level="2">
  <Info>
    <Parent Key="06895829-f77e-4224-96de-edefdb56d310">Brand</Parent>
    <Path>/Brand/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T18:22:34</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zmentfql/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>