<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c3567a3-570f-4432-8e6d-f56edb43b048" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="06895829-f77e-4224-96de-edefdb56d310">Brand</Parent>
    <Path>/Brand/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T05:07:33</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/khnjp1qu/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>