<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac08b963-e7ae-4b50-9f21-050865959532" Alias="AssuranceAudits.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T12:45:59</CreateDate>
    <NodeName Default="AssuranceAudits.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/seckutvv/assuranceaudits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>