<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f9c54b5-c8bf-4288-94c3-cbe859cd1abe" Alias="BondsCommodities.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T12:45:38</CreateDate>
    <NodeName Default="BondsCommodities.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i5ud31ne/bondscommodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>