<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4ffe2e4-1156-4a2f-836b-80834d2ed3d1" Alias="Brands" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brands</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-11T18:22:08</CreateDate>
    <NodeName Default="Brands" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>