<?xml version="1.0" encoding="utf-8"?>
<Media Key="06895829-f77e-4224-96de-edefdb56d310" Alias="Brand" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brand</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-11T18:22:14</CreateDate>
    <NodeName Default="Brand" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties />
</Media>