<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f9024ae-67a1-403b-b5d7-e70acf09888c" Alias="FinancialAdvice.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FinancialAdvicesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T12:46:38</CreateDate>
    <NodeName Default="FinancialAdvice.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lsmdfxn0/financialadvice.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>