<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d5d2d03-8c09-4df1-96d0-b9d02b3726e1" Alias="Group 110.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Group110svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T21:26:28</CreateDate>
    <NodeName Default="Group 110.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4gip45ys/group-110.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>