<?xml version="1.0" encoding="utf-8"?>
<Media Key="61624c7c-1d21-4f03-a7eb-d99c06d861de" Alias="Hero-Bg-Image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroBgImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T22:09:01</CreateDate>
    <NodeName Default="Hero-Bg-Image.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r1ynbaz0/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>