<?xml version="1.0" encoding="utf-8"?>
<Media Key="da91c7aa-ad93-48a6-8f56-5648b80a3d9e" Alias="image-106 1.svg" Level="2">
  <Info>
    <Parent Key="37a7c503-a5e9-4bfa-b106-6631b3b455f5">TeamMembers</Parent>
    <Path>/TeamMembers/image1061svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T00:51:50</CreateDate>
    <NodeName Default="image-106 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lb3dgoei/image-106-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>