<?xml version="1.0" encoding="utf-8"?>
<Media Key="8fe6bb6d-a504-4003-b5eb-2ca48f98e994" Alias="image-24-min 2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image24Min2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T17:51:17</CreateDate>
    <NodeName Default="image-24-min 2.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t2dei1i5/image-24-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>