<?xml version="1.0" encoding="utf-8"?>
<Media Key="0abe21db-f99d-4dea-bd46-a559ce93ca76" Alias="image-21-min 2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image21Min2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T19:02:33</CreateDate>
    <NodeName Default="image-21-min 2.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fgobz0eg/image-21-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>