<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4808565-c3ce-4e60-9dd7-5bc0434b27e2" Alias="img_choose_01_home01 2.svg" Level="2">
  <Info>
    <Parent Key="37a7c503-a5e9-4bfa-b106-6631b3b455f5">TeamMembers</Parent>
    <Path>/TeamMembers/img_choose_01_home012svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T00:51:50</CreateDate>
    <NodeName Default="img_choose_01_home01 2.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s22cerwv/img_choose_01_home01-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>