<?xml version="1.0" encoding="utf-8"?>
<Media Key="dfd149cf-2710-4a35-af7e-1d72debef89c" Alias="Kevin-Gardner 1.svg" Level="2">
  <Info>
    <Parent Key="37a7c503-a5e9-4bfa-b106-6631b3b455f5">TeamMembers</Parent>
    <Path>/TeamMembers/KevinGardner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T00:51:50</CreateDate>
    <NodeName Default="Kevin-Gardner 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hx0hgpil/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>