<?xml version="1.0" encoding="utf-8"?>
<Media Key="dfe8f873-33b9-446f-a3db-3446de19ce29" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T00:14:30</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qfcfupnc/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>