<?xml version="1.0" encoding="utf-8"?>
<Media Key="856e0181-df5f-4f14-ab79-49d1359d0d26" Alias="Logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T23:03:05</CreateDate>
    <NodeName Default="Logo.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oo4myz0e/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>