<?xml version="1.0" encoding="utf-8"?>
<Media Key="5eba2b8e-5354-4c2a-8b35-4ac8002c25ba" Alias="Mask-Group-8 1.svg" Level="2">
  <Info>
    <Parent Key="37a7c503-a5e9-4bfa-b106-6631b3b455f5">TeamMembers</Parent>
    <Path>/TeamMembers/MaskGroup81svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T00:51:51</CreateDate>
    <NodeName Default="Mask-Group-8 1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pslbrpcp/mask-group-8-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>