<?xml version="1.0" encoding="utf-8"?>
<Media Key="52ea7af4-7038-42e8-9ee4-30b7816740ed" Alias="new folder name" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-14T16:10:16</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties />
</Media>