<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cf27554-c6ff-4c4b-9cab-fc75f66ddea3" Alias="new folder name (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newFolderName1</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-16T05:06:12</CreateDate>
    <NodeName Default="new folder name (1)" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties />
</Media>