<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ae41bcc-2d1a-4c8d-af41-a95c1e742a62" Alias="new folder name" Level="2">
  <Info>
    <Parent Key="06895829-f77e-4224-96de-edefdb56d310">Brand</Parent>
    <Path>/Brand/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-11T18:22:20</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>