<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5b67b8b-cfe4-4231-9c23-e4427efd5093" Alias="post2 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/post21svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T19:07:52</CreateDate>
    <NodeName Default="post2 1.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/phdbij55/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>