<?xml version="1.0" encoding="utf-8"?>
<Media Key="5562bc5a-18f6-4ca2-a35b-e1787c5185fd" Alias="Rating.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T00:04:50</CreateDate>
    <NodeName Default="Rating.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vaanbn5n/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>