<?xml version="1.0" encoding="utf-8"?>
<Media Key="6079bcc8-b1a4-4f06-9e6c-b5d3f507f4d7" Alias="RiskManagement.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T12:45:14</CreateDate>
    <NodeName Default="RiskManagement.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hianxav5/riskmanagement.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>