<?xml version="1.0" encoding="utf-8"?>
<Media Key="ccbcfdd6-aac6-4a06-a5c2-f68afe6a72e9" Alias="successstory-bg.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successstoryBgsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T18:08:17</CreateDate>
    <NodeName Default="successstory-bg.svg (1)" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/erab2lw3/successstory-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>