<?xml version="1.0" encoding="utf-8"?>
<Media Key="0eb460a4-de9f-4181-bb21-50207180c4dd" Alias="successStory-bg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successStoryBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T17:56:51</CreateDate>
    <NodeName Default="successStory-bg.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k1obn1ee/successstory-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>