<?xml version="1.0" encoding="utf-8"?>
<Media Key="c324a081-b404-4dd5-b53c-be9789edce55" Alias="success-story-photo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successStoryPhotosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T17:57:05</CreateDate>
    <NodeName Default="success-story-photo.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/omojmii5/success-story-photo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>