<?xml version="1.0" encoding="utf-8"?>
<Media Key="e37d523c-ad6f-40fa-87ae-6cbda77c8f4d" Alias="TaxTrust.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TaxTrustsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T12:46:17</CreateDate>
    <NodeName Default="TaxTrust.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z1xn4alu/taxtrust.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>