<?xml version="1.0" encoding="utf-8"?>
<Media Key="37a7c503-a5e9-4bfa-b106-6631b3b455f5" Alias="TeamMembers" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-13T00:50:51</CreateDate>
    <NodeName Default="TeamMembers" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>