<?xml version="1.0" encoding="utf-8"?>
<Media Key="3866fdd3-a38b-49bc-8484-711aeb76a6ff" Alias="TinaFox.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T22:50:28</CreateDate>
    <NodeName Default="TinaFox.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/efamjwuq/tinafox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>