<?xml version="1.0" encoding="utf-8"?>
<Media Key="85736e9e-b2bf-499a-9dd1-110f539bb47d" Alias="TinaFoxSignature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaFoxSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T00:42:15</CreateDate>
    <NodeName Default="TinaFoxSignature.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ntjncz3e/tinafoxsignature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>