<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fbd1573-e2b6-4e0e-95af-2d5f0492755a" Alias="trustStoryTeamPhoto.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/trustStoryTeamPhotosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T13:33:59</CreateDate>
    <NodeName Default="trustStoryTeamPhoto.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qgub5xnn/truststoryteamphoto.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>