<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fe44294-00ce-46ee-99c8-679e2586beef" Alias="trustStoryBackground.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/trustStoryBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T13:33:51</CreateDate>
    <NodeName Default="trustStoryBackground.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m15fnlov/truststorybackground.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>