<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1706c6f-ca12-4743-b110-245c772e47fe" Alias="2025-11-11 01:17 - Ridah" Level="2">
  <Info>
    <Parent Key="edb764ba-63be-4edf-9294-777dd702630f">Form Submissions</Parent>
    <Path>/FormSubmissions/Ridah</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-11T01:17:20</CreateDate>
    <NodeName Default="2025-11-11 01:17 - Ridah" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[ridah@test.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Ridah]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Test]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[07070707070]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>