<?xml version="1.0" encoding="utf-8"?>
<Content Key="eefbe08e-924e-4610-af2d-186a3a7e0de9" Alias="2025-11-16 18:04 - test" Level="2">
  <Info>
    <Parent Key="92c1619e-8eeb-4885-9da9-cc09ded1ef60">Question Submissions</Parent>
    <Path>/QuestionSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>askAQuestion</ContentType>
    <CreateDate>2025-11-16T18:04:59</CreateDate>
    <NodeName Default="2025-11-16 18:04 - test" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[dd@test.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[test]]></Value>
    </contactName>
    <contactQuestion>
      <Value><![CDATA[etteteetetetetet]]></Value>
    </contactQuestion>
  </Properties>
</Content>