<?xml version="1.0" encoding="utf-8"?>
<Content Key="2cd15169-2f4c-4e1c-9650-e6ed25c13ef9" Alias="2025-11-12 22:19 - blablbal" Level="2">
  <Info>
    <Parent Key="edb764ba-63be-4edf-9294-777dd702630f">Form Submissions</Parent>
    <Path>/FormSubmissions/blablbal</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T22:19:18</CreateDate>
    <NodeName Default="2025-11-12 22:19 - blablbal" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jijgrijgr@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[blablbal]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Test2]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[testestetest]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>