<?xml version="1.0" encoding="utf-8"?>
<Content Key="14043dd0-e8ce-43d0-8486-2840888bf653" Alias="2025-11-16 19:24 - Ridah Omran" Level="2">
  <Info>
    <Parent Key="edb764ba-63be-4edf-9294-777dd702630f">Form Submissions</Parent>
    <Path>/FormSubmissions/RidahOmran</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-16T19:24:48</CreateDate>
    <NodeName Default="2025-11-16 19:24 - Ridah Omran" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Ridah Omran]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Risk Management]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[test]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>