<?xml version="1.0" encoding="utf-8"?>
<Content Key="59779bc3-bcbd-4232-94e3-322a27d5375e" Alias="2025-11-16 17:59 - test" Level="2">
  <Info>
    <Parent Key="92c1619e-8eeb-4885-9da9-cc09ded1ef60">Question Submissions</Parent>
    <Path>/QuestionSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>askAQuestion</ContentType>
    <CreateDate>2025-11-16T17:59:09</CreateDate>
    <NodeName Default="2025-11-16 17:59 - test" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[test@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[test]]></Value>
    </contactName>
    <contactQuestion>
      <Value><![CDATA[etteteetetetetet]]></Value>
    </contactQuestion>
  </Properties>
</Content>