<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f41bbb4-2833-4227-8865-26aca0389ac7" Alias="2025-11-16 17:33 - test" Level="2">
  <Info>
    <Parent Key="edb764ba-63be-4edf-9294-777dd702630f">Form Submissions</Parent>
    <Path>/FormSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-16T17:33:15</CreateDate>
    <NodeName Default="2025-11-16 17:33 - test" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Test2]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[3535355335]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>