<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb3ec0e3-2b68-400f-b8ae-a7068a245401" Alias="2025-11-16 17:59 - test (1)" Level="2">
  <Info>
    <Parent Key="92c1619e-8eeb-4885-9da9-cc09ded1ef60">Question Submissions</Parent>
    <Path>/QuestionSubmissions/test1</Path>
    <Trashed>false</Trashed>
    <ContentType>askAQuestion</ContentType>
    <CreateDate>2025-11-16T17:59:38</CreateDate>
    <NodeName Default="2025-11-16 17:59 - test (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[test@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[test]]></Value>
    </contactName>
    <contactQuestion>
      <Value><![CDATA[hahaha hahaha hahaha]]></Value>
    </contactQuestion>
  </Properties>
</Content>