<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbed0d17-c728-4245-826d-2069adcd1103" Alias="2025-11-16 18:00 - test" Level="2">
  <Info>
    <Parent Key="92c1619e-8eeb-4885-9da9-cc09ded1ef60">Question Submissions</Parent>
    <Path>/QuestionSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>askAQuestion</ContentType>
    <CreateDate>2025-11-16T18:00:54</CreateDate>
    <NodeName Default="2025-11-16 18:00 - test" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[test@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[test]]></Value>
    </contactName>
    <contactQuestion>
      <Value><![CDATA[etteteetetetetet]]></Value>
    </contactQuestion>
  </Properties>
</Content>