<?xml version="1.0" encoding="utf-8"?>
<Content Key="29a35b00-63e1-4b57-99ba-6c4f3bf5b004" Alias="Contact" Level="2">
  <Info>
    <Parent Key="b8a69319-1769-448d-8005-b62ec2d937f5">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-16T03:23:36</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7030226a-401d-4e1d-ab3e-fcb28a9eb50e">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a44d21d4-13d7-4283-b579-140d9ab7ab5c",
      "key": "6a52c894-f93d-4292-a4be-b58ac53e91e5",
      "udi": null,
      "values": [
        {
          "alias": "salesImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "10015917-cea1-42ca-82ed-76f13c663e62",
              "mediaKey": "9d5d2d03-8c09-4df1-96d0-b9d02b3726e1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "salesTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 data-pm-slice=\u00221 1 []\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003Eyour next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "salesContactOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "0b39fb3a-4e4e-45ec-8e39-4345466fd84f",
                "key": "44f3b99b-0df8-41e3-a70a-1583fa927c88",
                "udi": null,
                "values": [
                  {
                    "alias": "contactIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "bi-geo-alt"
                    ]
                  },
                  {
                    "alias": "contactOption",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Office location"
                  },
                  {
                    "alias": "contactInfo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Klarabergsviadukten 90, 111 52 Stockholm"
                  }
                ]
              },
              {
                "contentTypeKey": "0b39fb3a-4e4e-45ec-8e39-4345466fd84f",
                "key": "6b339a0e-a069-40d4-b4c8-cb7c02bb3870",
                "udi": null,
                "values": [
                  {
                    "alias": "contactOption",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Phone number"
                  },
                  {
                    "alias": "contactIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "bi-telephone"
                    ]
                  },
                  {
                    "alias": "contactInfo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "\u002B46 8 123 456 75"
                  }
                ]
              },
              {
                "contentTypeKey": "0b39fb3a-4e4e-45ec-8e39-4345466fd84f",
                "key": "0aa739b8-b099-4240-a2ce-e34ea8a28703",
                "udi": null,
                "values": [
                  {
                    "alias": "contactOption",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "E-mail address"
                  },
                  {
                    "alias": "contactInfo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "sales@onatrix.com"
                  },
                  {
                    "alias": "contactIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "bi-envelope"
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "44f3b99b-0df8-41e3-a70a-1583fa927c88",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6b339a0e-a069-40d4-b4c8-cb7c02bb3870",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "0aa739b8-b099-4240-a2ce-e34ea8a28703",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "44f3b99b-0df8-41e3-a70a-1583fa927c88",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6b339a0e-a069-40d4-b4c8-cb7c02bb3870",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "0aa739b8-b099-4240-a2ce-e34ea8a28703",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "4d981c82-fabc-4a02-9d02-877abc9cb348",
      "key": "55dddc03-c928-4660-8550-7de60e6082da",
      "udi": null,
      "values": [
        {
          "alias": "callbackSectionFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "callbackSectionBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-secondary\u0022\u003EREQUEST A CALL BACK\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your\u003Cbr\u003Enext project\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-xs font-regular\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cem\u003E\u003Cspan class=\u0022text-body-text\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "e9e34af3-96d8-44d1-8e1d-cb332e9f11a6",
      "key": "9cc49a50-882a-4b50-a3f9-8589364304d8",
      "udi": null,
      "values": [
        {
          "alias": "partnerBrandList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a2f3f607-3c4b-45e6-94cc-0fa3571e8b08",
                "key": "edbfacce-bda8-42cc-ae74-ecb1c124d25e",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerBrandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ec642acd-11a0-458b-a7c8-c41873881b07",
                        "mediaKey": "2668c417-4de9-4908-811c-33575f6cf487",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "a2f3f607-3c4b-45e6-94cc-0fa3571e8b08",
                "key": "4e74b895-a3ea-4065-96a1-114d27e88606",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerBrandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "34dcdbef-3bc3-487d-b681-3369f7c39c10",
                        "mediaKey": "dbac8070-1000-479a-bede-19adab23e7fd",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "a2f3f607-3c4b-45e6-94cc-0fa3571e8b08",
                "key": "031eca6a-626d-46c1-a82b-a4de56142eb2",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerBrandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "631618c3-95ef-4e39-933a-fde7e4f928eb",
                        "mediaKey": "02bbb686-36d7-422b-828f-0f64465dcf98",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "a2f3f607-3c4b-45e6-94cc-0fa3571e8b08",
                "key": "82ecf782-dfae-4d99-82d9-f7053b546588",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerBrandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5b350728-ae85-4f3b-8e8d-7ff6a4db5c34",
                        "mediaKey": "3559fa1b-70a9-4157-95b6-6721de189529",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "a2f3f607-3c4b-45e6-94cc-0fa3571e8b08",
                "key": "61e83f76-419a-4867-b8a7-1a9d3c463ed2",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerBrandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c9888f90-54c6-48a5-a794-f643f96ffc00",
                        "mediaKey": "747bb439-d210-4d3d-959d-e3caac5c7a19",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "a2f3f607-3c4b-45e6-94cc-0fa3571e8b08",
                "key": "b6724c31-ab4d-41fa-ab38-93b6fec0a589",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerBrandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "045f5da7-07b9-4925-9e88-cc806ac6170d",
                        "mediaKey": "0c3567a3-570f-4432-8e6d-f56edb43b048",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "edbfacce-bda8-42cc-ae74-ecb1c124d25e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4e74b895-a3ea-4065-96a1-114d27e88606",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "031eca6a-626d-46c1-a82b-a4de56142eb2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "82ecf782-dfae-4d99-82d9-f7053b546588",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "61e83f76-419a-4867-b8a7-1a9d3c463ed2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b6724c31-ab4d-41fa-ab38-93b6fec0a589",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "edbfacce-bda8-42cc-ae74-ecb1c124d25e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4e74b895-a3ea-4065-96a1-114d27e88606",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "031eca6a-626d-46c1-a82b-a4de56142eb2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "82ecf782-dfae-4d99-82d9-f7053b546588",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "61e83f76-419a-4867-b8a7-1a9d3c463ed2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b6724c31-ab4d-41fa-ab38-93b6fec0a589",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "2dfbfe16-c7a1-4b40-96b0-d00bb5b5c882",
      "key": "e318c10b-74ae-45cc-950f-da228c4b67ac",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "05ea5c75-685e-4f26-9dc0-139cb9aafdbd",
      "key": "f476b560-de66-4002-918d-964e2a312cdf",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial Advisor\nRisk Management\nBonds \u0026 Commodities\nTax and Trusts\nStatistic Advisors\nAssurance \u0026 Audits"
        },
        {
          "alias": "styleVariant",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "contactPage"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6a52c894-f93d-4292-a4be-b58ac53e91e5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "55dddc03-c928-4660-8550-7de60e6082da",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9cc49a50-882a-4b50-a3f9-8589364304d8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6a52c894-f93d-4292-a4be-b58ac53e91e5",
        "contentUdi": null,
        "settingsKey": "e318c10b-74ae-45cc-950f-da228c4b67ac",
        "settingsUdi": null
      },
      {
        "contentKey": "55dddc03-c928-4660-8550-7de60e6082da",
        "contentUdi": null,
        "settingsKey": "f476b560-de66-4002-918d-964e2a312cdf",
        "settingsUdi": null
      },
      {
        "contentKey": "9cc49a50-882a-4b50-a3f9-8589364304d8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>