<?xml version="1.0" encoding="utf-8"?>
<Content Key="dae91bcb-c6b8-4c4c-8398-7e54d9fb896d" Alias="Projects" Level="2">
  <Info>
    <Parent Key="b8a69319-1769-448d-8005-b62ec2d937f5">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2025-11-16T05:11:01</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ed24f4f7-391c-49c2-812a-812e328e12da">ProjectsPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>