<?xml version="1.0" encoding="utf-8"?>
<Content Key="af3982b0-be07-4766-9b77-b6feb2224ef2" Alias="Services" Level="2">
  <Info>
    <Parent Key="b8a69319-1769-448d-8005-b62ec2d937f5">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2025-11-14T15:31:41</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177d8259-d5d2-417c-b68d-2ca961f5b379">ServicesPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "85ea5db8-0348-461b-804b-96239bdea8d8",
      "key": "5e20244f-dbfe-4004-94de-0e6a832a98ed",
      "udi": null,
      "values": [
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 data-pm-slice=\u00220 0 []\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a44d21d4-13d7-4283-b579-140d9ab7ab5c",
      "key": "f0ad7b82-ebc8-4403-b4da-b7bb17b8eddf",
      "udi": null,
      "values": [
        {
          "alias": "salesImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e7e02f26-1cc1-4490-abcb-a0cebbb847e7",
              "mediaKey": "9d5d2d03-8c09-4df1-96d0-b9d02b3726e1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "salesTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003Eyour next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "salesContactOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "0b39fb3a-4e4e-45ec-8e39-4345466fd84f",
                "key": "9974dd39-2aec-47ca-a1d7-f4e83467594a",
                "udi": null,
                "values": [
                  {
                    "alias": "contactIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "bi-telephone"
                    ]
                  },
                  {
                    "alias": "contactOption",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Office location"
                  },
                  {
                    "alias": "contactInfo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Klarabergsviadukten 90, 111 52 Stockholm"
                  }
                ]
              },
              {
                "contentTypeKey": "0b39fb3a-4e4e-45ec-8e39-4345466fd84f",
                "key": "6920d9c1-84d4-4c41-842a-a47d19993712",
                "udi": null,
                "values": [
                  {
                    "alias": "contactOption",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Phone number"
                  },
                  {
                    "alias": "contactIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "bi-telephone"
                    ]
                  },
                  {
                    "alias": "contactInfo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "\u002B46 8 123 456 75"
                  }
                ]
              },
              {
                "contentTypeKey": "0b39fb3a-4e4e-45ec-8e39-4345466fd84f",
                "key": "b59136a2-c68d-4cbb-bcc9-05f89fb5f266",
                "udi": null,
                "values": [
                  {
                    "alias": "contactIcon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "bi-envelope"
                    ]
                  },
                  {
                    "alias": "contactOption",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "E-mail address"
                  },
                  {
                    "alias": "contactInfo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "sales@onatrix.com"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "9974dd39-2aec-47ca-a1d7-f4e83467594a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6920d9c1-84d4-4c41-842a-a47d19993712",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b59136a2-c68d-4cbb-bcc9-05f89fb5f266",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "9974dd39-2aec-47ca-a1d7-f4e83467594a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6920d9c1-84d4-4c41-842a-a47d19993712",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b59136a2-c68d-4cbb-bcc9-05f89fb5f266",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "8bbbdbbc-cefb-4bf4-bc31-8944ba7545e0",
      "key": "ede1a308-4f67-49eb-a2bc-b39647b0719b",
      "udi": null,
      "values": [
        {
          "alias": "serviceBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#FFFFFF"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "2dfbfe16-c7a1-4b40-96b0-d00bb5b5c882",
      "key": "20882a21-4acf-4218-b066-9ca140494a1d",
      "udi": null,
      "values": [
        {
          "alias": "salesBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "5e20244f-dbfe-4004-94de-0e6a832a98ed",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f0ad7b82-ebc8-4403-b4da-b7bb17b8eddf",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5e20244f-dbfe-4004-94de-0e6a832a98ed",
        "contentUdi": null,
        "settingsKey": "ede1a308-4f67-49eb-a2bc-b39647b0719b",
        "settingsUdi": null
      },
      {
        "contentKey": "f0ad7b82-ebc8-4403-b4da-b7bb17b8eddf",
        "contentUdi": null,
        "settingsKey": "20882a21-4acf-4218-b066-9ca140494a1d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>