<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e4b932e-ac8f-4423-8e04-caf3ee334f17" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-10T23:05:41</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "74e4d3e3-f6be-4240-a612-5a879492f7b9",
      "key": "13477015-b3c5-4fd1-8811-8e803ee5f0bd",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformLinks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com/"
        }
      ]
    },
    {
      "contentTypeKey": "74e4d3e3-f6be-4240-a612-5a879492f7b9",
      "key": "54d09ee5-b6c4-4597-9d27-5a4c1e94d71c",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformLinks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com/"
        }
      ]
    },
    {
      "contentTypeKey": "74e4d3e3-f6be-4240-a612-5a879492f7b9",
      "key": "246a7e33-2d03-48ff-8f11-a5a5356341e2",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformLinks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com/"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "13477015-b3c5-4fd1-8811-8e803ee5f0bd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "54d09ee5-b6c4-4597-9d27-5a4c1e94d71c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "246a7e33-2d03-48ff-8f11-a5a5356341e2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "13477015-b3c5-4fd1-8811-8e803ee5f0bd",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "54d09ee5-b6c4-4597-9d27-5a4c1e94d71c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "246a7e33-2d03-48ff-8f11-a5a5356341e2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "7868142f-a1a9-4ca9-bff9-bfb8a7c7d9d8",
    "mediaKey": "856e0181-df5f-4f14-ab79-49d1359d0d26",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>