<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4218cbee-1bc2-4e4a-ad9b-8faf50287a1d" Alias="About Page - Sections" Level="1">
  <Info>
    <Name>About Page - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f03bff43-590f-441a-9eef-c2ae0d59e709"
    },
    {
      "contentElementTypeKey": "572af3e9-57ae-4066-ae72-1ed0657928a6"
    },
    {
      "contentElementTypeKey": "30ae1dae-9d1e-45f3-a580-e68fec21c6ae"
    },
    {
      "contentElementTypeKey": "a44d21d4-13d7-4283-b579-140d9ab7ab5c",
      "settingsElementTypeKey": "2dfbfe16-c7a1-4b40-96b0-d00bb5b5c882"
    }
  ]
}]]></Config>
</DataType>