<?xml version="1.0" encoding="utf-8"?>
<DataType Key="725a05d8-3cc5-414b-97cc-a0378313c324" Alias="Callback Settings - CallbackRequestOptions" Level="1">
  <Info>
    <Name>Callback Settings - CallbackRequestOptions</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>