<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c9c4357c-98a7-4262-9b85-f383e409d645" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cee67c89-0be6-4d04-8733-fbfc56cf1623"
    },
    {
      "contentElementTypeKey": "4d981c82-fabc-4a02-9d02-877abc9cb348",
      "settingsElementTypeKey": "05ea5c75-685e-4f26-9dc0-139cb9aafdbd"
    },
    {
      "contentElementTypeKey": "85ea5db8-0348-461b-804b-96239bdea8d8",
      "settingsElementTypeKey": "8bbbdbbc-cefb-4bf4-bc31-8944ba7545e0"
    },
    {
      "contentElementTypeKey": "5d2f7829-c3a7-4f53-a355-c7bdb464a141"
    },
    {
      "contentElementTypeKey": "a3e69d74-9e14-4cad-a615-87fb21051b16"
    },
    {
      "contentElementTypeKey": "e9e34af3-96d8-44d1-8e1d-cb332e9f11a6"
    }
  ]
}]]></Config>
</DataType>