<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5c8d1a1e-b93e-403d-962b-e983ff3e1388" Alias="Sales Contact Options List" Level="1">
  <Info>
    <Name>Sales Contact Options List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0b39fb3a-4e4e-45ec-8e39-4345466fd84f",
      "label": "{umbValue: contactOption}"
    }
  ]
}]]></Config>
</DataType>