<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9eb3f8d2-352e-4dc0-a8af-a22000c9ed1a" Alias="Service Card List" Level="1">
  <Info>
    <Name>Service Card List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "556c7e9f-79c7-446e-9a9e-4594bdd38fb8",
      "label": "{umbValue: serviceCardTitle}"
    }
  ]
}]]></Config>
</DataType>