<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02a2bb3d-c123-41a6-a330-672498a4b640" Alias="Service Card - Service Card Title - Text Box Property Editor UI" Level="1">
  <Info>
    <Name>Service Card - Service Card Title - Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>