<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b08388b-676a-4550-9551-9e3e0693c7c1" Alias="Service Details Asides " Level="1">
  <Info>
    <Name>Service Details Asides </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "44e3ca80-b80a-4dfa-991b-960272383da2"
    }
  ]
}]]></Config>
</DataType>