<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1f50c7d-0f6d-4638-8c16-362c266503e9" Alias="Services Sections" Level="1">
  <Info>
    <Name>Services Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "85ea5db8-0348-461b-804b-96239bdea8d8",
      "settingsElementTypeKey": "8bbbdbbc-cefb-4bf4-bc31-8944ba7545e0"
    },
    {
      "contentElementTypeKey": "a44d21d4-13d7-4283-b579-140d9ab7ab5c",
      "settingsElementTypeKey": "2dfbfe16-c7a1-4b40-96b0-d00bb5b5c882"
    }
  ]
}]]></Config>
</DataType>