<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8ca6b441-484d-418a-98bb-dc5b019181d1" Alias="Service Detail - Sections" Level="1">
  <Info>
    <Name>Service Detail - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "49c9dae2-3b46-454b-96ed-a668076a2c4b"
    },
    {
      "contentElementTypeKey": "a44d21d4-13d7-4283-b579-140d9ab7ab5c",
      "settingsElementTypeKey": "2dfbfe16-c7a1-4b40-96b0-d00bb5b5c882"
    }
  ]
}]]></Config>
</DataType>