<?xml version="1.0" encoding="utf-8"?>
<DataType Key="13b3c01c-f0ae-4b7a-99fe-39d8bb5f1fe3" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "74e4d3e3-f6be-4240-a612-5a879492f7b9",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>