<?xml version="1.0" encoding="utf-8"?>
<DataType Key="39a7e307-4419-4e34-96a0-48297028e729" Alias="Success Story Card List" Level="1">
  <Info>
    <Name>Success Story Card List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "de66279d-a756-4fa6-b7b9-7781d4af69a7",
      "label": "{umbValue: successStoryCardTitle}"
    }
  ]
}]]></Config>
</DataType>