<?xml version="1.0" encoding="utf-8"?>
<DataType Key="962eb45b-0708-416e-9626-fff0f6955f13" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9a4760d4-46b2-49a0-9e9a-d32085690071",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>