@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	var content = (ContentModels.PartnerBrandsSection)Model.Content;
	var partnerBrandList = content.PartnerBrandList;
}

<section class="partner-brands-section">
	<div class="partner-brands-list">
		@Html.GetBlockListHtml(content.PartnerBrandList)
	</div>
</section>