@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	var content = (ContentModels.ServiceSection)Model.Content;
	var settings = Model.Settings as ContentModels.ServiceSettings;
	var serviceCardList = content.ServiceCardList;

	var backgroundColour = settings?.ServiceBackgroundColor?.Color ?? "#FFFFFF";
}



<section class="services-section">
	<div class="services-container">
		<div class="services-content">
			@if (settings?.ShowServiceLabel == true)
			{
				<h2>@content.ServiceLabel</h2>
			}
			<div class="services-rte">@Html.Raw(content.ServiceTitle)</div>
		</div>

		<div class="service-card-list">
			@Html.GetBlockListHtml(content.ServiceCardList)
		</div>
	</div>
</section>