<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ba3d1902-58b0-4396-a7aa-310b13a503c7" Alias="aboutPage" Level="2">
  <Info>
    <Name>About Page</Name>
    <Icon>icon-users</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="5ee64cf2-ac82-4752-ae13-d598f56f5b3d">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>AboutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a5261edb-1d27-4299-bfb6-50d96eadd210">AboutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>82a346ef-2900-420a-a83e-fd5f111b8ab0</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>4218cbee-1bc2-4e4a-ad9b-8faf50287a1d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>61f1e8d9-e115-492f-9f0f-1f3e78936188</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>