<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aefd3c51-84b3-4687-a130-191ddb4482fb" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c4367134-bd2a-49c6-bbc9-376a504a1408">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ba3d1902-58b0-4396-a7aa-310b13a503c7" SortOrder="0">aboutPage</ContentType>
    <ContentType Key="17852db5-a1b2-42b7-a89a-82d783dba833" SortOrder="1">servicesPage</ContentType>
    <ContentType Key="ca69d2a4-d872-4d1c-aad5-76b1f550a8d5" SortOrder="2">projectsPage</ContentType>
    <ContentType Key="4a48b231-8346-4847-aef5-60948ccffd28" SortOrder="3">contactPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d123054f-a013-401c-9491-d5dad2aa9541</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>c9c4357c-98a7-4262-9b85-f383e409d645</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3e48d595-2f85-4aee-93ef-ac885b05a650</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>