<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca69d2a4-d872-4d1c-aad5-76b1f550a8d5" Alias="projectsPage" Level="2">
  <Info>
    <Name>Projects Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="5ee64cf2-ac82-4752-ae13-d598f56f5b3d">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ProjectsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ed24f4f7-391c-49c2-812a-812e328e12da">ProjectsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>