<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d2e17bc4-54a0-4eb1-a7c0-3c00fab57072" Alias="questionSubmissions" Level="2">
  <Info>
    <Name>Question Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a52b8760-224c-4c95-aa04-6dbc0fc20773" SortOrder="0">askAQuestion</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>