<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="17852db5-a1b2-42b7-a89a-82d783dba833" Alias="servicesPage" Level="2">
  <Info>
    <Name>Services Page</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="5ee64cf2-ac82-4752-ae13-d598f56f5b3d">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ServicesPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="177d8259-d5d2-417c-b68d-2ca961f5b379">ServicesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ddf7b66e-86ae-4c76-b01c-7abd7beb63ed" SortOrder="0">serviceDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5bd5ef51-7b57-4a76-8532-ad7b6f35e3dc</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>d1f50c7d-0f6d-4638-8c16-362c266503e9</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>45649324-3bf5-4926-ae02-98c5c66ea32d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>